<body [ngClass]="[setMode ? 'dark-theme' : '']">
  <div class="header" (mode)="receiveMode($event)">
    <img src="assets/yuri.yeti.png" alt="Yuri Smiling">
    <h1>{{title}}</h1>
  </div>
<div class="mode-toggle" (click)=onChangeToggle()></div>


  <nav id="main-nav">
    <ul class="nav nav-tabs nav-underline">
      <li class="nav-item border-start border-start-4 border-start-info px-3 mb-3 "><a class="fs-5 fw-semibold " routerLink="/home">Home</a></li>
      <li class="nav-item border-start border-start-4 border-start-danger px-3 mb-3 "><a class="fs-5 fw-semibold " routerLink="/agentmanager">Users</a></li>
      <li class="nav-item border-start border-start-4 border-start-warning px-3 mb-3 "><a class="fs-5 fw-semibold " routerLink="/queues">Queues</a></li>
      <li class="nav-item border-start border-start-4 border-start-white px-3 mb-3 "><a class="fs-5 fw-semibold " routerLink="/triggers">Triggers</a></li>
      <li class="nav-item border-start border-start-4 border-start-info px-3 mb-3 "><a class="fs-5 fw-semibold" routerLink="/datatables">Datatables</a></li>
    </ul>
  </nav>


  <main>
    <div *ngIf="isAuthorized; else notAuthorized">
      <router-outlet></router-outlet>
    </div>
    <ng-template #notAuthorized>
      <div class="spinner">
        <img src="assets/loading.svg" alt="Loading..." srcset="">
      </div>
    </ng-template>
  </main>
</body>
