<div>
  <button class="btn" (click)="modalService.open('modalNewTrigger')">
    <i class="bi bi-plus-circle"></i>&nbsp;New
  </button>


  <div class="searchFilter">
    <span class="fw-semibold"><u>Filters</u></span>

    <ng-select class="custom" [closeOnSelect]="true" [multiple]="true" [(ngModel)]="searchTopic" [ngModelOptions]="{standalone: true}" placeholder="Topic Name" (change)="searchTrigger($event)">
      <ng-option *ngFor="let topic of topics | async" [value]="topic">{{topic}} </ng-option>
    </ng-select>

    <mat-form-field appearance="fill">
      <mat-label>Trigger Name</mat-label>
      <input matInput placeholder="Search Trigger Name" [(ngModel)]="searchText">
    </mat-form-field>

  </div>

  <div *ngIf="fetching">
    <div class="spinner">
      <img src="assets/loading.svg" alt="Loading..." srcset="">
    </div>
  </div>



  <div class="triggers-container">
    <div class="trigger-list-entry" *ngFor="let trigger of triggers$ | async | searchFilter: searchText">
      <app-trigger-details [trigger]="trigger" [workflowName]="getFlowName(trigger.target.id)" (deletionConfirmation)="confirmDelete($event)" (editRequest)="editTrigger($event)"></app-trigger-details>
    </div>
  </div>


  <!-- Modal -->

  <jw-modal id="modalNewTrigger">

    <div class="modalTrigger-container">

      <div class="modal-header">
        <h5 class="modal-title">Add a trigger</h5>
        <a (click)="modalService.close();" class="close"></a>
      </div>

      <div class="modal-body">

        <form [formGroup]="triggerForm" (ngSubmit)="onSubmit()">
          <mat-form-field>
            <mat-label>Enter a name</mat-label>
            <input matInput placeholder="Put your trigger name" required formControlName="triggerName">
          </mat-form-field>

          <ng-select required formControlName="selectedTopicCreation" [closeOnSelect]="true" [multiple]="false" [(ngModel)]="selectedTopicCreation" placeholder="Topic Name">
            <ng-option *ngFor="let topic of topics | async" [value]="topic">{{topic}} </ng-option>
          </ng-select>

          <ng-select required formControlName="selectedWorkflowCreation" [closeOnSelect]="true" [multiple]="false" [(ngModel)]="selectedWorkflowCreation" placeholder="Workflow Name">
            <ng-option *ngFor="let workflow of workflowsList | async" [value]="workflow.id">{{workflow.name}} </ng-option>
          </ng-select>

          <div>

          <!--  <button mat-raised-button (click)="addCriteria(); $event.preventDefault()">
            <i class="bi-plus-circle"></i>
          </button>-->


          <mat-form-field>
            <mat-label>Matching Criteria</mat-label>
            <textarea placeholder="Put your matching Criteria" matInput required jsonFormat formControlName="triggerMatchingCriteria" rows="25"></textarea>
          </mat-form-field>

          </div>


          <p>Form Status: {{ triggerForm.status }}</p>


          <div class="modal-footer">
            <button type="submit" [disabled]="triggerForm.invalid" class="create btn btn-primary">Create</button>
          </div>


        </form>
      </div>



    </div>

  </jw-modal>

  <jw-modal id="modalEditTrigger">

    <div class="modalTrigger-container">

      <div class="modal-header">
        <h5 class="modal-title">Edit trigger</h5>
        <a (click)="modalService.close();" class="close"></a>
      </div>



      <div class="modal-body">

        <form [formGroup]="triggerForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="fill">
            <mat-label>Enter a name</mat-label>
            <input matInput placeholder="Put your trigger name" required name="name">
          </mat-form-field>

          <ng-select required formControlName="selectedTopicCreation" [closeOnSelect]="true" [multiple]="false" [(ngModel)]="selectedTopicCreation" class="custom" placeholder="Topic Name">
            <ng-option *ngFor="let topic of topics | async" [value]="topic">{{topic}} </ng-option>
          </ng-select>

          <ng-select required formControlName="selectedWorkflowCreation" [closeOnSelect]="true" [multiple]="false" [(ngModel)]="selectedWorkflowCreation" class="custom" placeholder="Workflow Name">
            <ng-option *ngFor="let workflow of workflowsList | async" [value]="workflow.id">{{workflow.name}} </ng-option>
          </ng-select>


          <p>Form Status: {{ triggerForm.status }}</p>


          <div class="modal-footer">
            <button type="submit" [disabled]="triggerForm.invalid" class="btn btn-primary">Edit</button>
          </div>


        </form>
      </div>



    </div>

  </jw-modal>

  <jw-modal id="modalDeleteTrigger">

    <div class="modalTrigger-container">

      <div class="modal-header">
        <h5 class="modal-title">Are you sure to delete ?</h5>
        <a (click)="modalService.close();" class="close"></a>
      </div>

      <div class="modal-body">
        <div class="row">


          <div class="confirm-button">
            <a class="mr-2">
              <button class="btn btn-yes" (click)="deleteTrigger();">Yes</button>
            </a>
            <a>
              <button class="btn btn-no" (click)="modalService.close();">No</button>
            </a>
          </div>


        </div>
        <div class="modal-footer">

        </div>
      </div>



    </div>

  </jw-modal>
