<div class="trigger-details">
  <div class="trigger-switch">
    <mat-slide-toggle [checked]="trigger?.enabled" (change)="toogleActivation(trigger)"></mat-slide-toggle>
  </div>

  <div name="test" class="trigger-name">
    <div class="fw-semibold"><u>Name</u></div>
    <div class="fw-semibold">{{trigger.name}}</div>
    <div class="small">{{trigger.id}}&nbsp;
      <a  [cdkCopyToClipboard]="trigger.id">
          <i class="bi bi-clipboard"></i>
      </a>
    </div>
  </div>

  <div class="trigger-Topic">
    <div class="fw-semibold"><u>Topic Name</u></div>
    <div class="">{{trigger?.topicName}}</div>
  </div>

  <div class="trigger-Workflow">
    <div class="fw-semibold"><u>Workflow</u></div>
    <div class="fw-semibold">{{workflowName}} </div>
    <div class="small">{{trigger.target.id}}
      <a [cdkCopyToClipboard]="trigger.target.id">
        <i class="bi bi-clipboard"></i>
      </a>
    </div>
  </div>

  <div class="trigger-actions">
    <div class="fw-semibold"><u>Action(s)</u></div>
  <!--  <div class="small">
        <a class="edit" (click)="editTrigger(trigger.id)"><span><i class="bi bi-pencil"></i></span></a>
    </div>-->
    <div class="small">
      <a class="delete" (click)="confirmDeleteTrigger(trigger.id)"><span><i class="bi bi-trash"></i></span></a>
    </div>
  </div>

  <ng-template #loadingIndicator>
    <div class="spinner">
      <img src="assets/loading.svg" alt="Loading..." srcset="">
    </div>
  </ng-template>
</div>
